Package: imgpro
Version: 0.1.3
Section: utils
Priority: optional
Maintainer: lisa <zhulishe@qq.com>
Architecture: all
Depends: python2.7, python-qt4, python-numpy, python-pil
Description: IMaGe Process can help you process images
