Package: uniqimg
Version: 0.1.0
Section: utils
Priority: optional
Maintainer: donald <chenyd@yandex.com>
Architecture: all
Depends: python2.7, python-qt4, python-numpy, python-scipy, python-pil
Description: UNIQue IMaGe can save your disk space by removing duplicate images.
